@charset "UTF-8";

.toDraggable-box{
	position: absolute;
	transition: filter 0.5s ease-out,box-shadow 0.5s ease-out,transform 0.5s ease-out;
}


body.toDraggable-body-down{
}
body.toDraggable-body-move{
}
.toDraggable-box-down{
	z-index: 90000;
	box-shadow: 0px 0px 5px rgba(0,0,0,1);
	opacity: 0.5;
	
}
.toDraggable-box-move{
	
}
.toDraggable-box-down.toDraggable-with-pointer-events-none{
	pointer-events: none;
	transform: scale(0.9);
}
body.toDraggable-body-down .toDraggable-box-hover:not(.toDraggable-box-down){
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);	
	filter: brightness(1.5);
	z-index: 80000
}

.toDraggable-enabled{
	
}
.toDraggable-disabled{
	pointer-events: none;
	filter:   brightness(0.5);
}
/* .toDraggable-with-icon.toDraggable-enabled{
	cursor: move;
	cursor: grab;
} */
.toDraggable-box{
	cursor: move;
	cursor: grab;
}
body.toDraggable-body-down , body.toDraggable-body-move , body.toDraggable-body-down .toDraggable-box  , body.toDraggable-body-move .toDraggable-box{
	cursor: move !important;
	cursor: grabbing !important;
}
body.toDraggable-body-down .toDraggable-box-hover:not(.toDraggable-box-down) .toDraggable-box{
	cursor: move !important;
	cursor: grabbing !important;
	cursor: pointer !important;
}
.toDraggable-with-icon.toDraggable-disabled{
	cursor:not-allowed;
	cursor:no-drop;
}
.toDraggable-with-icon::after{
	font-size:1em; line-height: 1em;
	position: absolute;
	right: 0;bottom:0; padding: 0; margin: 0;
}
.toDraggable-with-icon.toDraggable-enabled::after{
	content: "🔓";
}
.toDraggable-with-icon.toDraggable-disabled::after{
	content: "🔒";
}
/* .toDraggable-box:hover{
	filter: brightness(1.2);
} */
